/*
 * Base structure
 */

  /*
   * Top navigation
   * Hide default border to remove 1px line.
   */
  /* .navbar-fixed-top {
    border: 0;
  } */
  .navbar {
    background: linear-gradient(to top right, #fa7268 0%, #f3a183 100%);
  }

  #project {
    font-weight: 600;
    color: #333333;
  }
  .navbar .form-control {
    background-color: rgba(255, 255, 255, 0.75);
    transition: 0.3s;
    width: 100%;
  }
  .navbar .form-control:focus {
    transition: 0.3s;
    background-color: white;
    box-shadow: none;
  }
  
  #panel:hover {
    /* font-weight: 700; */
    /* color:#fff2f1; */
    transform: scale(1.1);
    transition: 0.2s;
  }
    
  #panel {
    color:#333333;
    transition: 0.2s;
    }
  /*
   * Sidebar
   */
  
  /* Sidebar navigation */
  .sidebar {
    background-color: #eeeeee;
    border-right: 1px solid #eeeeee;
    min-height: 100vh;
  }
  .nav-sidebar {
    display: block;
    padding: 0px;
  }

  .nav-sidebar > li > a {
    /* color: #616161; */
    color: rgb(73, 111, 145);
    transition: 0.2s;
  }
  .nav-sidebar > li > a:hover {
    background-color: #e6e6e6;
    /* font-weight: 600; */
    color: rgb(52, 78, 102);
    transform: scale(1.05);
    transition: 0.2s;
  }
  .nav-sidebar > li > a:focus {
    color: black;
    transform: scale(1.05);
    background-color: #d3d3d3;
  }

  /* buttons */
  .btn {
    transition: 0.2s;
  }
  .btn:hover, .btn.hover {
    transform: scale(1.03);
    transition: 0.2s;
  }
  .btn-main {
    color: #333333;
    border-radius: 5px;
    background: #fa7268;
    border:  #fa7268;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .btn-main:hover, .btn-main.hover {
    background-color: #f3a183;
    border-color: #f3a183;
  }
  #create-new-button {
    color: #333333;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
  }

  /* Main content */
  .main {
    padding: 20px;
  }
  .main .page-header {
    margin-top: 0;
    border-bottom: 2px solid  #eee;
  }

  /* item with rounded top corners */
  .round-top {
    border-radius: 5px 5px 0px 0px ;
    font-size: 20px;
  }
  /* item with square corners */
  .round-inner {
    border-radius: 0%;
  }
  /* item with rounded bottom corners */
  .round-bottom {
    border-radius: 0px 0px 5px 5px ;
  }

  /* Category Header */
  .ticket-group {
    /* border-bottom: 3px solid #eee; */
    background-color: #e0e0e0;
    /* color: white; */
    padding: 10px;
    cursor: pointer;
  }
  .fa-collapse {
    transition: 0.2s;
    color: #6b6b6b;
    float: right;
  }
  .ticket-group:hover .fa-collapse {
    transform: scale(1.1);
    transition: 0.2s;
    color: #333333;
  }
  /* icons */
  .fa-collapse:before {   
    content: "\f077";
  }
  .collapsed .fa-collapse:before {
    content: "\f078";
  }
  /* .ticket-group.collapsed {
    border-radius: 5px;
  } */
  
  .card-row {
    padding-bottom: 25px;
  }
  .card-row .col-lg-4 {
    padding: 15px;
  }
  .card {
    background-color: white;
    list-style-type: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: 0.2s;
    color: black;
  }
  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    background-color: #fff2f1;
  }

  /* for text within cards */
  .card-header {
    color: #333333;
    background:  linear-gradient(to top right, #fa7268 0%, #f3a183 100%);;
    border-bottom: none;
    font-size: 18px;
    font-weight: 700;
  }
  .card a {
    text-decoration: none;
    color: black;
  }

  /* background colour */
  #main-view {
    background-color: #f5f5f5;
  }
  body {
    background-color: #f5f5f5;
  }
  .form-control:focus {
    border-color: rgba(250,114,104, 0.8);
    box-shadow: none;
  }

  .btn:focus, .btn.focus {
    box-shadow:none;
  }
  .modal-content {
    /* padding:30px; */
    background-color: #eee;
  }
  .modal-header {
    /* padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0px; */
    text-align: center
  }
  .modal-body {
    /* padding: 2rem; */
    background-color: #eee;
    border-radius: 5px;
  }
  .modal-body form {
    /* padding: 30px; */
    margin: 0px;
  }
  .modal-body .form-control {
    transition: 0.3s;
    width: 100%;
  }
  .modal-body .form-control:focus {
    transition: 0.3s;
    box-shadow: none;
  }

  .modal-title {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
  }
  .modal .btn {
    font-size: 1.1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .close {
    padding: 1rem;
    color: #333333;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    text-shadow: none;
    transition:  0.2s;
  }
  .close:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }
  .btn-cancel {
    font-weight: 500;
  }
  
  @media (min-width: 768px) {
    .main {
      padding-right: 40px;
      padding-left: 40px;
    }

    .sidebar {
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }
  }
  @media(max-width:992px) { 
    .btn {
      font-size: 1rem;
    }
  }

 