/*
 * Base structure
 */

  /*
   * Top navigation
   * Hide default border to remove 1px line.
   */
  .navbar-fixed-top {
    border: 0;
  }
  .navbar {
    background-color: #cfcfcf;
  }
  
  /*
   * Sidebar
   */
  
  /* Sidebar navigation */
  .sidebar {
    height: 100vh;
    background-color: #eeeeee;
    border-right: 1px solid #eee;
  }
  .nav-sidebar {
    display: block;
    padding: 0px;
  }

  .nav-sidebar > li > a {
    color: black;
  }
  .nav-sidebar > li > a:hover {
    background-color: #e6e6e6;
  }
  .nav-sidebar > li > a:focus {
    color: black;
    background-color: #d3d3d3;
  }

  /* buttons */
  .btn {
    border-radius: 5px;
    background-color: #fa7268;
    border-color: #fa7268;
  }
  .btn:hover {
    background-color: #ff9891;
    border-color: #ff9891;
  }
  #create-new-button {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    width: 100%;
  }
  #create-new-button:hover {
    background-color: #ff9891;
    border-color: #ff9891;
  }
  
  /* Main content */
  .main {
    padding: 20px;
  }
  .main .page-header {
    margin-top: 0;
    border-bottom: 2px solid  #eee;
  }

  /* Category Header */
  .ticket-group {
    border-bottom: 3px solid #eee;
    /* border-radius: 5px 5px 0px 0px ;
    color: white; */
    padding: 10px;
  }
  
  .card {
    background-color: white;
    list-style-type: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: 0.3s;
    color: black;
  }
  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    
  }

  /* for text within cards */
  .card-header {
    font-weight: 600;
    color: white;
    background-color: #fa7268;
    border-bottom: none;
    height: 30%;
  }
  .card a {
    text-decoration: none;
    color: black;
  }

  /* background colour */
  #main-view {
    background-color: #f5f5f5;
  }
  body {
    background-color: #f5f5f5;
  }
  .main .row {
    padding-bottom: 15px;
    
  }
  
  .modal-content, .form-control {
    border-radius: 5px;
  }
  .form-control {
    font-size: 16px;
    height: 36px;
  }
  #title {
    font-size: 20px;
    height: 46px;
  }

  .modal-title {
    font-size: 24px;
    text-align: center;
    padding-bottom: 10px;
  }
  .modal .btn {
    font-size: 18px;
  }
  
  @media (min-width: 768px) {
    .main {
      padding-right: 40px;
      padding-left: 40px;
    }

    .sidebar {
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }
  }