
.container {
    padding-top: 15px;
}

.tool{
    display: inline;
    padding-left: 15px;
    
}
.input-group-text{
    background-color: #fa7268;
height: auto;
position: absolute;
right: 20px;
margin-top: 5px;
border-radius: 12px;
}


.label {
    color: white;
    padding: 8px;
  }
  .success {background-color: #4CAF50;

}

.col > label {
font-size: 14px;

}

#bar {
    padding-top: 10px;
}

#reply {
    padding-top: 10px;
    border:none;
    position: absolute;
    left: 300px;
    background: none;
    cursor: pointer;
}

#message {
    padding: 10px;

}