form-group > textarea {

}

.container {
    padding-top: 15px;
}

.tool{
    display: inline;
    padding-left: 15px;
    
}
.input-group-text{
    background-color: #fa7268;
height: auto;
position: absolute;
right: 20px;
margin-top: 5px;
border-radius: 12px;
}


.label {
    color: white;
    padding: 8px;
  }
  .success {background-color: #4CAF50;

}